<h1>urlの編集</h1>

<%=form_tag("/urls/#{@url.id}/update") do%>

urlのタイトル:
<input type="text" name="name" value="<%=@url.name%>" >
<br>
<br>
<textarea name="url"  cols="150" ><%=@url.url%></textarea>

<input type="submit" value="url編集">
<%end%>

