<h1>ジャンル一覧</h1>

<%= form_tag("/urls/search") do %>
  <div>
    <label for="title">タイトル検索:</label>
    <input type="text" name="title" title="タイトルを入力してください" placeholder="タイトル" required>
    <input type="submit" value="送信">
  </div>
<% end %>

<br>
<br>

<% @genres.each do |genre| %>
  <%= link_to(genre.genre, "/urls/genres/#{genre.genre}") %>
  <br>
  <br>
<% end %>