<h1>お気に入りURLの一覧</h1>

<% @goods.each do |good| %>
  <%url=Url.find_by(id: like.url_id)%>
  <%= link_to(url.title, url.url) %>
  <%= link_to("詳細へ", "/urls/#{url.id}") %>
  <%= link_to("いいね削除 ", "/goods/#{url.id}/destroy",data: { turbo_method: "post" }) %>

  <br>
  <br>
<% end %>