<h1>いいねURLの一覧</h1>

<% @likes.each do |like| %>
  <%url=Url.find_by(id: like.url_id)%>
  <%= link_to(url.title, url.link) %>
  <%= link_to("詳細へ", "/urls/#{url.id}") %>
  <%= link_to("いいね削除 ", "/likes/#{url.id}/destroy",data: { turbo_method: "post" }) %>

  <br>
  <br>
<% end %>