<br>
<h2 class="mb-3">タイトル検索</h2>
<%= form_tag("/urls/search_title", class: "needs-validation", novalidate: true) do %>
  <div class="mb-3">
    <label for="title" class="form-label font-weight-bold">タイトル検索:</label>
    <input type="text" name="title" id="title" class="form-control" title="タイトルを入力してください" placeholder="タイトル" required>
    <div class="invalid-feedback">
      タイトルを入力してください。
    </div>
  </div>
  <button type="submit" class="btn btn-primary">送信</button>
<% end %>

<br>
<br>
<h2 class="mb-3">ジャンル一覧</h2>
<ul class="list-group">
  <% @genres.each do |genre| %>
    <li class="list-group-item">
      <%= link_to("●"+genre.genre, "/urls/genres/#{genre.genre}", class: "text-decoration-none") %>
    </li>
  <% end %>
</ul>