<h1>ユーザー編集</h1>
<%= form_tag("/users/#{@user.id}/update") do %>

  <div>
    <label for="name">名前:</label>
    <input type="text" name="name"  title="名前を入力してください" placeholder="名前" value="<%=@name%>" required>
  </div>
  <br>
  <div>
    <label for="email">メールアドレス:</label>
    <input type="email" name="email" title="メールアドレスを入力してください" placeholder="メールアドレス" value="<%=@email%>" required>
  </div>
  <br>
  <input type="submit" value="ユーザー編集">
<% end %>
