<h1>ログイン</h1>
<%= form_tag("/login") do %>

  <div>
    <label for="email">メールアドレス:</label>
    <input type="email" name="email"  title="メールアドレスを入力してください" placeholder="メールアドレス" value="<%=@email%>" required>
  </div>
  <br>
  <div>
    <label for="password">パスワード:</label>
    <input type="password" name="password"  title="パスワードを入力してください" placeholder="パスワード" value="<%=@password%>" required>
  </div>
  <br>
  <input type="submit" value="ログイン">
<% end %>
