<h1>パスワード変更</h1>
<%= form_tag("/users/#{@user.id}/password_change") do %>

  <div>
    <label for="name">現在のパスワード:</label>
    <input type="password" name="current_password"  title="現在のパスワードを入力してください" value="<%=@current_password%>" placeholder="現在のパスワード"  required>
  </div>
  <br>
  <div>
    <label for="password">新しいパスワード:</label>
    <input type="password" name="new_password" title="新しいパスワードを入力してください" value="<%=@new_password%>"  placeholder="新しいパスワード"  required>
  </div>
  <br>
  <input type="submit" value="パスワード変更">
<% end %>
