<h1 class="mb-4">パスワード変更</h1>

<%= form_tag("/users/#{@user.id}/password_change", class: "needs-validation", novalidate: true) do %>
  <div class="mb-3">
    <label for="current_password" class="form-label">現在のパスワード:</label>
    <input type="password" name="current_password" id="current_password" class="form-control" title="現在のパスワードを入力してください" placeholder="現在のパスワード" value="<%= @current_password %>" required>
    <div class="invalid-feedback">
      現在のパスワードを入力してください。
    </div>
  </div>

  <div class="mb-3">
    <label for="new_password" class="form-label">新しいパスワード:</label>
    <input type="password" name="new_password" id="new_password" class="form-control" title="新しいパスワードを入力してください" placeholder="新しいパスワード" value="<%= @new_password %>" required>
    <div class="invalid-feedback">
      新しいパスワードを入力してください。
    </div>
  </div>

  <button type="submit" class="btn btn-primary">パスワード変更</button>
<% end %>